-- Fix KYC RLS for kyc_submissions table
ALTER TABLE public.kyc_submissions ENABLE ROW LEVEL SECURITY;

-- Drop existing policies if they exist
DROP POLICY IF EXISTS \
kyc_select_own\ ON public.kyc_submissions;
DROP POLICY IF EXISTS \kyc_insert_own\ ON public.kyc_submissions;
DROP POLICY IF EXISTS \kyc_update_own\ ON public.kyc_submissions;

-- Allow users to manage their own KYC submissions
CREATE POLICY \kyc_select_own\ ON public.kyc_submissions
  FOR SELECT
  USING (user_id = auth.uid()::text);

CREATE POLICY \kyc_insert_own\ ON public.kyc_submissions
  FOR INSERT
  WITH CHECK (user_id = auth.uid()::text);

CREATE POLICY \kyc_update_own\ ON public.kyc_submissions
  FOR UPDATE
  USING (user_id = auth.uid()::text)
  WITH CHECK (user_id = auth.uid()::text);

-- Allow admins to see all KYC submissions
CREATE POLICY \kyc_admin_all\ ON public.kyc_submissions
  FOR ALL
  USING (auth.role() = 'service_role');

-- Fix profiles table RLS for KYC status updates
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS \profiles_select_own\ ON public.profiles;
DROP POLICY IF EXISTS \profiles_update_own\ ON public.profiles;
DROP POLICY IF EXISTS \profiles_insert_own\ ON public.profiles;

CREATE POLICY \profiles_select_own\ ON public.profiles
  FOR SELECT
  USING (user_id = auth.uid()::text);

CREATE POLICY \profiles_update_own\ ON public.profiles
  FOR UPDATE
  USING (user_id = auth.uid()::text)
  WITH CHECK (user_id = auth.uid()::text);

CREATE POLICY \profiles_insert_own\ ON public.profiles
  FOR INSERT
  WITH CHECK (user_id = auth.uid()::text);

-- Allow admins to manage all profiles
CREATE POLICY \profiles_admin_all\ ON public.profiles
  FOR ALL
  USING (auth.role() = 'service_role');
